@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
h1 {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
} */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.sidebar-item {
    @apply flex items-center gap-2 px-3 py-2 rounded-md transition-all duration-200;
}

.sidebar-item.active {
    @apply bg-primary-100 text-primary-500;
}

.sidebar-item:hover:not(.active) {
    @apply bg-default-100;
}

ol,
ul {
    list-style-type: initial;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}